@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --primary-color: #3f51b5;
  --secondary-color: #9c27b0;
  --background-color: #fafafa;
  --background-color-dark: #303030;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: black;
  background-color: var(--background-color);
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-family: sans-serif;
}

h1 {
  margin: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}
.hero__container {
  margin-bottom: 2rem;
}
.hero__title {
  font-size: clamp(2.4rem, 5vw, 5rem);
  margin-bottom: 0.5rem;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.1s;
  opacity: 0;
}
.hero__name {
  color: var(--primary-color);
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.2s;
  opacity: 0;
}
.hero__description {
  display: block;
  margin-top: 1rem;
  font-size: clamp(1.6rem, 3vw, 2rem);
  margin-bottom: 2.5rem;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.4s;
  opacity: 0;
}
.hero__cta {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(to right bottom, var(--primary-color) 20%, var(--secondary-color));
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.6s;
  opacity: 0;
}
.hero__cta:hover {
  transition: all 0.2s ease-in-out;
  color: var(--primary-color);
  background-image: none;
  background-color: white;
  outline: 1px solid var(--primary-color);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.hero__model {
  aspect-ratio: 4/5;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.9s;
}

@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    padding: 4rem;
  }
  .hero > * {
    flex: 1;
  }
}
@media (min-width: 1025px) {
  .hero {
    justify-content: center;
    align-items: center;
    padding: 6rem;
  }
  .hero__model {
    aspect-ratio: 4/3;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.background {
  padding: 2rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: white;
  background-color: var(--background-color-dark);
}
.background__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.6rem, 3vw, 2rem);
}
.background img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 768px) {
  .background {
    padding: 4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .background__info {
    flex-direction: row;
  }
  .background__info img {
    flex: 1;
    margin-right: 2rem;
    width: clamp(20rem, 50%, 30rem);
  }
  .background__about-me {
    flex: 2;
  }
}
@media (min-width: 1025px) {
  .background {
    padding: 6rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}/*# sourceMappingURL=main.css.map */